.sidebar{
	background: black;
	padding-top: 150px;
	height: 100vh;
}
.nav-sidebar a{
	color: #555;
}
.main{
	padding-left: 0;
}
#myCanvas{
	margin-top: 15vh;
	margin-left: 5vw;
	height: 70vh;
	width: 70vw;
}
#contenedor{
	margin-top: 50px;
}
#fondo{
	display: none;
	width: 50px;
}